@model Ads.Models.PuntajeUserAd

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PuntajeUserAd</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Puntaje)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Puntaje)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAdNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAdNavigation.IdAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsersNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsersNavigation.IdUsers)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Idpuntajeusuario">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
